* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #141414;
    font-family: "Helvetica Neue", "Netflix Sans", sans-serif;
    color: #FFFFFF;
}

header {
    width: 100%;
    top: 0;
    z-index: 100%;
    height: 100px;
    background-color: #000000;
    color: #E50914;
    padding: 0px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
}


#logo-img {
    height: 230px;
    width: auto;
}

/* #logo-img:hover {
    transform: scale(0.8);
} */

nav ul {
    list-style: none;
    padding: 0;
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #E50914;
}

ul {
    display: flex;
    gap: 40px;
    list-style: none;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

ul li {
    font-size: 1rem;
    cursor: pointer;
    transition: color 0.3s ease;
}



table {
    width: 100%;
    margin: 30px auto;
    border-spacing: 20px;
}

th {
    text-align: left;
    font-size: 1.5rem;
    padding-bottom: 10px;
}

td {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.2s ease;
}

td:hover {
    transform: scale(1.05);
    background-color: #333333;
}

td p {
    margin: 5px 0;
}

.titulo-filme {
    font-weight: bold;
    font-size: 1.1rem;
}

a {
    color: #E50914;
    text-decoration: none;
    font-size: 1.2rem;
}

a:hover {
    text-decoration: none;
}

img {
    width: 100px;
    height: auto;
    border-radius: 10px;
}

/* .contato {
    padding: 5rem 2rem;
}

.contatos-titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.contatos-formulario {
    max-width: 600px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px); 
    padding: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 16px;
}


.campo-form {
    width: 100%;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    color: #e2e8f0;
    outline: none;
}

.grupo-form {
    margin-bottom: 1.5rem;
}

.campo-form:focus {
    border-color: #4f45e6;
    box-shadow: rgba(79, 70, 229, 0.3);
}

.botao-form {
    color: #e2e8f0;
    background:#E50914;
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    transition: all 0.5s ease;
}

.botao-form:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 20px rgba(229, 70, 70, 0.4);
}

input,
textarea {
    font-family: "Helvetica Neue", "Netflix Sans", sans-serif;
}

input::placeholder,
textarea::placeholder {
    font-family: "Helvetica Neue", "Netflix Sans", sans-serif;
} */